<div class="main user-show">
    <div class="container">
        <div class="user">
            <img src="<%= "/yosakoiyer_images/#{@yosakoiyer.image_name}" %>">
            <h2><%=@yosakoiyer.yosaname%></h2>
            <p><%=@yosakoiyer.mail%></p>
            <% if @yosakoiyer.id == @current_yosakoiyer.id%>
            <%=link_to("編集","/yosakoiyers/#{@yosakoiyer.id}/edit")%>
            <%end%>
            
            <ul class="user_tabs">
                <li class="active"><%=link_to("投稿","/yosakoiyers/#{@yosakoiyer.id}")%></li>
                <li><%= link_to("いいね!", "/yosakoiyers/#{@yosakoiyer.id}/ines") %></li>
            </ul>
            
        </div>
        <% @yosakoiyer.posts.each do |post|%>
        <div class="posts-index-item">
            <div class="post-left">
                <img src="<%="/yosakoiyer_images/#{post.yosakoiyer.image_name}"%>">
            </div>
            <div class="post-right">
                <div class="post-user_name">
                <%=link_to(post.yosakoiyer.yosaname, "/yosakoiyers/#{post.yosakoiyer.id}")%>    
                </div>
                <%= link_to(post.boyaki,"/posts/#{post.id}") %>
            </div>
        </div>
        <% end%>
    </div>
</div>